
.top-buttons {

    padding:15px;


    div {
        text-align: left;
        color:white;
        cursor: pointer;
    }

 }

 .logo {
    font-size: 32px;
    text-align: center;
    padding:5px;

    background-image: url(/img/gl_bg.png);
    background-repeat: repeat-x;
    border:1px solid green;
    color:white;
    font-weight: bold;
  }
  
  .logo-text {
    font-size: 18px;
    text-align: center;
    padding:2px;
    margin: 0 auto;
  }