body {
  background-color: black;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  font-size:16px;
  letter-spacing: 0.05em;
}

.tgl-button {
  font-size: 24px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  font-size: 28px !important;
}
