
.moves {
    padding: 14px;
    max-width: 500px;

    h2 {
        font-size: 16px;
        margin-bottom:20px;
    }

    &__item {

        border: 1px solid green;
        width: 100%;
        margin: 10px 0;
        padding:10px;

        &-text {
            font-size:16px;
        }

    }
}

